html {
    font-size: 16px;
}

#headline {
    font-size: 3em;
}

.slides > #_02 {
    text-align: right;
    text-align: -webkit-right;
}

.slides #_02 h2 {
    padding-right: 3.5em;
    transition: 1s;
    -webkit-transition: 1s;
}

.slides #_02 h2:hover {
    color: #15DDD8;
}
