@font-face {
    font-family: "Roboto";
    src: url("../lib/font/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Condensed";
    src: url("../lib/font/Roboto Condensed/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald";
    src: url("../lib/font/Oswald/Oswald-Regular.ttf");
}

@font-face {
    font-family: "EB Garamond";
    src: url("../lib/font/EB Garamond/EBGaramond-Medium.ttf") format("truetype");
}

p {
    margin: 0px !important;
}

#headline {
    font-size: 3em;
}

h3.year {
    text-align: left;
}

h2.subject {
    text-align: left;
}

.year.modern, .subject.modern {
    font-family: Oswald, Roboto Condensed, Helvetica, serif;
}

.contents {
    width: 100%;
}

.contents > div.description.wrapper, .contents > div.media {
    width: 50%;
    display: inline-block;
}

.contents > div.description.wrapper {
    overflow-y: scroll;
}

.contents div.description.wrapper p.description, .contents div.media iframe, .contents div.media video, .contents div.media img {
    height: 10em !important;
}

p.description {
    text-align: left;
}

p.description.serif {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, EB Garamond, FreeSerif, serif;
}

p.description.modern {
    font-family: Roboto, Vogue, Arial;
}

.media > iframe {
    width: 25em;
    height: 15em
}

.media > video {
    width: 100%;
}

.contents > div.media {
    vertical-align: top;
}

#_02 {
    text-align: right;
    text-align: -webkit-right;
}

#_02 h2 {
    padding-right: 3.5em;
    transition: 1s;
    -webkit-transition: 1s;
}

#_03 #piano-bubbles .bubble {
    margin: 5px;
    height: 2em;
    width: 2em;
    display: block;
    border-radius: 100%;
    opacity: 0.5;
    transition: 0.8s;
    -webkit-transition: 1s;
    cursor: pointer;
}

#_03 #piano-bubbles .bubble:hover {
    opacity: 0.7;
}

#_03 #piano-bubbles .bubble:first-child {
    background-color: orange;
}

#_03 #piano-bubbles .bubble:nth-child(2) {
    background-color: blue;
}

#_03 #piano-bubbles .bubble:nth-child(3) {
    background-color: yellowgreen;
}

#_03 #piano-bubbles .bubble:nth-child(4) {
    background-color: red;
}

#_03 #piano-bubbles .bubble:nth-child(5) {
    background-color: white;
}

#_03 #piano-bubbles .bubble:nth-child(6) {
    background-color: yellow;
}

#_03 #piano-bubbles .bubble:nth-child(7) {
    background-color: magenta;
}

#_10 .contents .description.wrapper, #_15 .contents .description.wrapper, #_16 .contents .description.wrapper {
    overflow-y: initial;  /*No need for a scrollbar*/
}

@media only screen and (orientation: portrait) {
    .media > img {
        height: 100%;
        width: initial !important;
    }
}

@media only screen and (min-width: 700px) and (max-width: 900px) and (min-height: 900px) and (orientation: portrait) {
    #headline {
        font-size: 1.8em;
    }

    #_02 h2 {
        font-size: 0.9em;
    }

    h3.year {
        font-size: 1em;
    }

    h2.subject {
        font-size: 1.2em;
    }

    .contents > div.description.wrapper, .contents > div.media {
        display: initial;
    }

    .contents div.media iframe, .contents div.media video, .contents div.media img {
        width: 65%;
        height: 5.5em !important;
    }

    p.description {
        font-size: 0.75em;
    }

    .media > iframe {
        height: 10em;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    #headline {
        font-size: 2.5em;
    }

    #_02 h2 {
        font-size: 1.2em;
    }

    h3.year {
        font-size: 0.8em;
    }

    p.description {
        font-size: 0.8em;
    }

    .contents > div.description.wrapper {
        height: 9em;
        width: 55%;
    }

    .contents > div.media {
        height: 9em;
        width: 45%;
    }
}

@media only screen and (min-width: 1800px) {
    #_02 h2 {
        font-size: 2em;
    }

    h2.subject, h3.year {
        font-size: 1.6em;
    }

    p.description {
        font-size: 1.3em;
    }

    .contents > div.description.wrapper {
        height: 10em;
        width: 60%;
    }

    .contents > div.media {
        width: 40%;
    }

    #_03 #piano-bubbles .bubble {
        margin: 15px;
        height: 2.2em;
        width: 2.2em;
    }
}
