@font-face {
    font-family: "Roboto";
    src: url("../lib/font/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../lib/font/Roboto Condensed/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald";
    src: url("../lib/font/Oswald/Oswald-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "EB Garamond";
    src: url("../lib/font/EB Garamond/EBGaramond-Medium.ttf") format("truetype");
}

.reveal .controls {
    right: 1cm;
    bottom: 1cm;
}

p {
    margin: 0px !important;
}

/*Progress bar*/
.reveal .progress {
    height: 8px;
}

#headline {
    font-size: 3em;
}

h3.year {
    text-align: left;
}

h2.subject {
    text-align: left;
}

.year.modern, .subject.modern {
    font-family: Oswald, Roboto Condensed, Helvetica, serif;
}

.contents {
    width: 100%;
}

.contents > div.description.wrapper, .contents > div.media {
    height: 10.5em;
    width: 50%;
    display: inline-block;
}

.contents > div.description.wrapper {
    overflow-y: auto;
}

.contents > div.media {
    vertical-align: top;
}

.media > iframe {
    width: 25em;
    height: 15em
}

.media > video {
    width: 100%;
}

p.description {
    font-size: 0.95em;
    text-align: left;
}

p.description.serif {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, EB Garamond, FreeSerif, serif;
}

p.description.modern {
    font-family: Roboto, Vogue, Arial, sans-serif;
}

p.description.modern.now, #daw-leaderboard, #ref-daw-leaderboard {
    font-family: Roboto Condensed, Roboto, Vogue, Arial, sans-serif;
}

#daw-leaderboard, #ref-daw-leaderboard {
    font-size: 0.95em;
}

#ref-daw-leaderboard {
    float: left;
}

#credits {
    text-align: right;
    text-align: -webkit-right;
}

#credits h2 {
    padding-right: 3.5em;
    transition: 1s;
    -webkit-transition: 1s;
}

#ending > h2 {
    color: white;
}

/*Portrait*/
@media only screen and (orientation: portrait) {
    .media > img {
        height: 80%;
        width: initial !important;
    }

    .contents > div.description.wrapper, .contents > div.media {
        width: 100%;
        display: block !important;
    }
}

/*Intentionally for iPad on portrait*/
@media only screen and (min-width: 700px) and (max-width: 1000px) and (min-height: 900px) and (orientation: portrait) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }

    #headline {
        font-size: 1.8em;
    }

    #credits h2 {
        font-size: 0.9em;
    }

    h3.year {
        font-size: 1em;
    }

    h2.subject {
        font-size: 1.2em;
    }

    .contents > div.description.wrapper {
        width: 90%;
        height: 6em !important;
    }

    .contents > div.media {
        margin-top: 0.8em;
    }

    p.description {
        font-size: 0.75em;
    }

    .media > iframe {
        width: 80%;
        height: 7em;
    }

    .media > img {
        height: 7em;
    }

    .fix-title .contents .media img {
        height: 60%;
    }

    #daw-leaderboard, #ref-daw-leaderboard {
        font-size: 0.75em;
    }
}

/*Intentionaly for iPad Pro on portrait*/
@media only screen and (min-width: 1001px) and (max-width: 1024px) and (min-height: 1000px) and (orientation: portrait) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }

    #headline {
        font-size: 2.6em;
    }

    #credits h2 {
        font-size: 1.2em;
    }

    .contents > div.description.wrapper {
        height: 9em !important;
    }

    .contents > div.media {
        margin-top: 1em;
    }

    p.description {
        font-size: 1em;
    }

    div.media > iframe {
        height: 9em;
        width: 80%;
    }

    #daw-leaderboard, #ref-daw-leaderboard {
        font-size: 1em;
    }

    #ending > h2 {
        font-size: 2em;
    }
}

/*Tablets on landscape*/
@media only screen and (min-width: 1000px) and (max-width: 1200px) and (orientation: landscape) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }

    #headline {
        font-size: 2.5em;
    }

    #credits h2 {
        font-size: 1.2em;
    }

    h3.year {
        font-size: 0.8em;
    }

    h2.subject {
        font-size: 1em;
    }

    p.description {
        font-size: 0.8em;
    }

    .contents > div.description.wrapper {
        height: 9em;
        width: 55%;
    }

    .contents > div.media {
        height: 9em;
        width: 45%;
    }

    #daw-leaderboard, #ref-daw-leaderboard {
        font-size: 0.8em;
    }

    #ending > h2 {
        font-size: 1.3em;
    }
}

/*Big resolution like 1920x1080*/
@media only screen and (min-width: 1800px) {
    #credits h2 {
        font-size: 2em;
    }

    h2.subject, h3.year {
        font-size: 1.6em;
    }

    p.description {
        font-size: 1.3em;
    }

    .contents > div.description.wrapper {
        height: 10em;
        width: 60%;
    }

    .contents > div.media {
        width: 40%;
    }

    #daw-leaderboard, #ref-daw-leaderboard {
        font-size: 1.3em;
    }
}
